*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("bc.jpg");
    background-size:cover;
    background-position: center;

}
header{
    width: 100%;
    position: sticky;
    top:0;
    z-index: 1;
    background: transparent;
}
header.container{
    height: 20vh;
    width:50%;
    margin: 0 auto;
    padding: 0 50px;

}
.logo{
    display: flex;
    gap: 14px;
    align-items: center;
    
}
.logo img{
    height: 35px;
    width: 30px;
}
.logo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    cursor: default;

}
a{
    text-decoration: none;
    color:white;


}
ul{
    display: flex;
    gap: 14px;
    list-style: none;
}
li{
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 14px;

}
.main{
    width: 100%;
    height: 90vh;
    position: absolute;

}
.main img{
    display: block;
    margin: auto;
    height: 100%;
    filter: drop-shadow(20px 20px 40px rgb(3, 3, 138));

}
.conten{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    top:0;
    left:0;

}
.conten .container{

    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    height: 600px;
 
}
.todo{
    cursor: url("Nikon-Z8-Official-Samples-00002.jpg"),auto;
    display: flex;
    padding: 14px;

}
.todo_value{
    cursor: inherit;
    background:transparent;
    border: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    border-bottom: 2px solid rgb(250, 250, 250);
    

}
.todo_chechbox{
    cursor: inherit;

}
.todo:has(.todo_checkbox:checked)
{
    color: rgb(222, 247, 0);
    background: rgb(0, 255, 255);
    text-decoration: line-through 1.5px;
    order: 1;

}